$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-color: blue;
}

h1 {
  color: white;
  text-align: center;
  font-size: 100px;
  font-family: 'Tangerine', serif;
}

h3 {
  color: white;
  text-align: center;
  font-family: 'Tangerine', serif;
  font-size: 50px;
}

p {
  color: white;
}

.btn {
  position: relative;
  left: + 45%;
}

#create-country-modal {
  text-align: center;
}

.centered {
  position: fixed;
  right: + 36%;
}

.create-country {
  text-align: center;
}

.get-countries {
  text-align: center;
}
